.header {
  position: fixed;
  .header-content {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    cursor: pointer;
    width: rem(114);
    display: flex;
    padding: rem(8) 0;
    .header-icon {
      height: 100%;
      width: rem(36);
      color: $sk-white;
    }
    .header-title {
      margin-left: rem(4);
      @include titleText;
      line-height: rem(34);
    }
  }

  .header-menu-area {
    padding: 0 0 0 rem(18);
  }

  .HeaderMenu {
    @include titleText;
    padding: rem(16) 0;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $sk-white;
    }
  }
}
