.header {
  position: fixed;
  .header-content {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    cursor: pointer;
    width: rem(120);
    display: flex;
    padding: rem(8) 0;
    .header-icon {
      height: 100%;
      width: rem(36);
      color: $sk-white;
    }
    .header-title {
      margin-left: rem(4);
      @include bannerText;
      line-height: rem(34);
    }
  }

  .header-menu-area {
    padding: 0 0 0 rem(18);
    display: flex;
    justify-content: space-between;
    width: rem(150);
    position: relative;
  }

  .HeaderMenu {
    @include titleText;
    padding: rem(16) 0;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $sk-white;
    }
  }

  .Menu {
    top: rem(56);
    width: rem(96);
  }

  .quantity + .Menu {
    left: rem(46);
  }

  .task + .Menu {
    left: rem(108);
  }
}
