@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

.header {
  .header-content {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    cursor: pointer;
    width: 114px;
    display: flex;
    padding: 8px 0;
    color: $sk-white;
    .header-icon {
      height: 100%;
      width: 36px;
      &:hover {
        animation: spin 1s ease-in-out;

      }
    }
    .header-title {
      margin-left: 4px;
      font-size: rem(18);
      line-height: rem(34);
    }
  }

}
